<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-14">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.w3schools.com/howto/img_avatar.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Thanos</h5>
                            <p class="card-text">congrates Thanos</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.w3schools.com/howto/img_avatar2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cindrella</h5>
                            <p class="card-text">congrates Cintrella</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9Vw_2rjYTOptCm6HAcdFh_PoUICRtMHx_Nmkxx4o&s" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Maradona</h5>
                            <p class="card-text">congrates Maradona</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>