<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1>Sign up page</h1>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="name" class="form-label">first Name:</label>
                    <input name="firstname" [(ngModel)]="firstname" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="name" class="form-label">last Name:</label>
                    <input name="lastname" [(ngModel)]="lastname" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="adhar" class="form-label">house number:</label>
                    <input name="house_number" [(ngModel)]="house_number" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="adhar" class="form-label">house name:</label>
                    <input name="house_name" [(ngModel)]="house_name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="adhar" class="form-label">street name:</label>
                    <input name="street_name" [(ngModel)]="street_name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="adhar" class="form-label">pincode</label>
                    <input name="pincode" [(ngModel)]="pincode" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="adhar" class="form-label">district</label>
                    <input name="district" [(ngModel)]="district" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="adhar" class="form-label">pincode</label>
                    <input name="state" [(ngModel)]="state" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="adhar" class="form-label">pincode</label>
                    <input name="country" [(ngModel)]="country" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="email" class="form-label">e-mail:</label>
                    <input name="email" [(ngModel)]="email" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="phonenumber" class="form-label">Phone number:</label>
                    <input name="phonenumber" [(ngModel)]="phonenumber" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="phonenumber" class="form-label">Parent name:</label>
                    <input name="parent_name" [(ngModel)]="parent_name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="phonenumber" class="form-label">Phone number:</label>
                    <input name="gender" [(ngModel)]="gender" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="phonenumber" class="form-label">highest degree:</label>
                    <input name="highest_degree" [(ngModel)]="highest_degree" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="phonenumber" class="form-label">year of experience:</label>
                    <input name="year_of_experience" [(ngModel)]="year_of_experience" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="phonenumber" class="form-label">date of joining:</label>
                    <input name="date_of_joining" [(ngModel)]="date_of_joining" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="username" class="form-label">User Name:</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">                        
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="password1" class="form-label">Password</label>
                    <input name="password1" [(ngModel)]="password1" type="password" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input name="password2" [(ngModel)]="password2" type="password" class="form-control">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a (click)="signup()" class="btn btn-success">sign up</a>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a href="\user" class="link-primary">login here !</a>
                </div>
            </div>
        </div>
    </div>
  </div>
