<app-admin-navbar></app-admin-navbar>
<section class=" custom-mt">
    <div class="container">
        <div class="row  text-center">
            <div class="col-lg-6 border-right">
                <div class="item">
                    <div class="iconTop">
                        <img src="https://www.nestdigital.com/images/logo.svg" height="300px" alt="">
                    </div>
                    <h3>Nest Digital</h3>
                    <h4>Engineering Transformation</h4>
                    <div class="aboutDesc text-center">
                        NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.
                   </div>			
                </div>
            </div>
            <div class="col-lg-6">
                <div class="item">
                    <div class="iconTop">
                        <img src="https://png.pngtree.com/png-vector/20190521/ourmid/pngtree-hand-in-peace-sign-png-image_1044191.jpg" height="300px" alt="">
                    </div>
                    <h3>WHAT WE BELIEVE</h3>
                    <h4>Our core values make us who we are today</h4>
                    <div class="aboutDesc text-center">
                        Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.
                    </div>			
                </div>
            </div>
        </div>
    </div>
</section>